[Unit]
Description=Whaleshares
After=Docker.service
Requires=Docker.service

[Service]
TimeooutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --net=host -v /blurt:/blurt -p 80:8080 registry.gitlab.com/blurt/openblurt/condenser:latest